__pycache__
/sql/50_wikipedia.sql
/virtualenv
sql/30_ucd.sql
sql/31_htmlentities.sql
sql/32_confusables.sql
sql/33_images.sql
sql/34_aliases.sql
sql/35_blocks.sql
sql/36_encodings.sql
sql/37_latex.sql
sql/38_agl.sql
sql/39_emoji_annotations_*.sql
sql/40_digraphs.sql
sql/41_namedsequences.sql
sql/50_wp_codepoints_de.sql
sql/50_wp_codepoints_en.sql
sql/50_wp_codepoints_es.sql
sql/50_wp_codepoints_pl.sql
sql/51_wp_scripts.sql
sql/52_wp_blocks.sql
sql/60_fonts.sql
sql/70_search_index.sql
sql/71_font_order.sql
*.pyc
/node_modules
