__pycache__
/sql/50_wikipedia.sql
/virtualenv
sql/30_ucd.sql
sql/31_htmlentities.sql
sql/32_confusables.sql
sql/33_images.sql
sql/34_aliases.sql
sql/35_blocks.sql
sql/36_encodings.sql
sql/37_latex.sql
sql/40_digraphs.sql
sql/50_wp_codepoints_de.sql
sql/50_wp_codepoints_en.sql
sql/50_wp_codepoints_es.sql
sql/50_wp_codepoints_pl.sql
sql/51_wp_scripts_en.sql
sql/52_wp_blocks_en.sql
sql/60_emojis.sql
sql/70_search_index.sql
